{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<form method="post">
    <fieldset>
    <legend>留言:</legend>
        <textarea name="message" cols="65" rows="3"></textarea>
        <br>
        <input class="btn" type="submit" name="submit" value="添加">
    </fieldset>
</form>
{% else %}
    <p><a href="{{ url_for('login') }}"> 登入后留言</a></p>
{% endif %}
<ul class="movie-list">
    {% for guestbook in guestbooks %}
    <li>
        <h3 style="color:Tomato">
            {{ guestbook.name.name }}
            <small style="color:Gray;" >
                {{ guestbook.times.strftime("%Y-%m-%d %H:%M:%S") }}
            </small>
            <span class="float-right">
                {% if current_user.is_authenticated and roles.role == 'admin' %}
                    <form class="inline-form" method="post" action="{{ url_for('guestbook_delete', guestbook_id=guestbook.id) }}">
                        <input class="btn" type="submit" name="guestbook_delete" value="删除" onclick="return confirm('你确认删除吗?')">
                    </form>
                {% endif %}
            </span>
        </h3>

        <p>{{ guestbook.message  }}</p>
    </li>
    {% endfor %}
</ul>
<p class="page">
共{{ paginate.total }}条

{% if paginate.has_prev %}
    <a class="btn" href="/guestbook?page={{ paginate.prev_num }}">上一页</a>
{% endif %}
页码:
{% for i in paginate.iter_pages() %}
    <a href="/guestbook?page={{ i }}">{{ i }}</a>
{% endfor %}
{% if paginate.has_next %}
    <a class="btn" href="/guestbook?page={{ paginate.next_num }}">下一页</a>
{% endif %}
</p>
<br>
{% endblock %}