{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated and roles.role == 'admin' %}
<form method="post">
    <fieldset>
    <legend>插入新的电影条目:</legend>
    名字: <input type="text" name="title" size="15" autocomplete="off" required>
    年份: <input type="text" name="year" size="4" autocomplete="off" required>
    平台: <select name="platform" required>
            <option value="douban">豆瓣</option>
            <option value="imdb">IMDb</option>
        </select>
    <input class="btn" type="submit" name="submit" value="添加">
    </fieldset>
</form>
{% endif %}
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.year }}
        <span class="float-right">
            {% if current_user.is_authenticated and roles.role == 'admin' %}
            <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">编辑</a>
            <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
                <input class="btn" type="submit" name="delete" value="删除" onclick="return confirm('你确认删除吗?')">
            </form>
            {% endif %}
            {% if movie.platform == 'imdb'  %}
                <a class="imdb" href="https://www.imdb.com/find?q={{ movie.title }}" target="_blank" title="在IMDb上找到这部电影">IMDb</a>
            {% elif movie.platform == 'douban'  %}
                <a class="douban" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank" title="在豆瓣上找到这部电影">豆瓣</a>
            {% endif %}
        </span>
    </li>
    {% endfor %}
</ul>
<p class="page">
共{{ paginate.total }}条

{% if paginate.has_prev %}
    <a class="btn" href="/?page={{ paginate.prev_num }}">上一页</a>
{% endif %}
页码:
{% for i in paginate.iter_pages() %}
    <a href="/?page={{ i }}">{{ i }}</a>
{% endfor %}
{% if paginate.has_next %}
    <a class="btn" href="/?page={{ paginate.next_num }}">下一页</a>
{% endif %}
</p>
<br>
{% endblock %}